<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="assets/css/master.css">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap" rel="stylesheet">
    <title>Vue Boolzap</title>
</head>
<body>
  <!-- Vue -->
  <div id="root">
  <!-- Background con i 2 colori -->
  <div class="background-top">
  </div>
  <div class="background-bottom">
  </div>
  <!-- webapp -->
  <div class="container">
    <!-- Navbar top -->
    <header>
      <div class="nav-right">
        <div class="user-section"
             v-for="(contact,i) in contacts"
             v-if="contact.visible == true">
          <img class="avatar"src="./assets/img/avatar_1.jpg" alt="contact avatar">
          <div class="info">
            <h3>{{ contacts[i].name }}</h3>
            <p>Ultimo accesso: {{ lastAccess(i) }}</p>
          </div>
        </div>
        <!-- icone -->
        <div class="icons">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
    </header>
    <!-- navbar a sx -->
    <main>
      <!-- user aside -->
      <aside>
        <div class="nav-left">
          <div class="user-section">
            <img class="avatar"src="./assets/img/avatar_io.jpg" alt="user avatar">
          </div>
          <!-- icone -->
          <div class="icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <!-- notifiche -->
        <div class="notifications">
          <div class="bell">
            <i class="fas fa-bell-slash"></i>
          </div>
          <div class="notification-text">
            <p>Ricevi notifiche di nuovi messaggi</p>
            <a href="#">Attiva le notifiche desktop</a>
          </div>
        </div>
        <!-- cerca contatti -->
        <div class="search">
          <i class="fas fa-search"></i>
          <input v-model="ricerca" type="text" placeholder="Cerca o inizia una nuova chat">
        </div>
        <!-- lista contatti con avatar -->
        <div class="contact">
          <ul class="contact-list">
            <!-- ciclo v-for utenti + click -->
            <li v-if="contact.name.toLowerCase().includes(ricerca.toLowerCase())"
                v-for="(contact, i) in contacts"
                @click="addActive(contact, i)"
                :class="(contact.visible == true) ? 'active' : '' ">
            <!-- avatar con v-bind -->
            <img :src="'./assets/img/avatar' + contact.avatar + '.jpg'" alt="contact avatar">
              <!-- info del contatto -->
              <div class="info">
                <h3>{{ contact.name }}</h3>
                <p>{{ getTime(contact.messages[contact.messages.length - 1].date) }}</p>
              </div>
            </li>
          </ul>
        </div>


        <div class="container-contacts">
          <div
            v-if="contact.name.toLowerCase().includes(ricerca.toLowerCase())"
            class="contact"
            v-for="(contact, i) in contacts"
            @click="addActive(contact, i)"
            :class="(contact.visible == true) ? 'active' : '' ">
            <img :src="'./assets/img/avatar' + contact.avatar + '.jpg'" alt="">
            <div class="container-contact">
              <div class="container-contact-name-time">
                <h4 class="name">{{contact.name}}</h4>
                <span>{{getTime(contact.messages[contact.messages.length - 1].date)}}</span>
              </div>
             <span>{{contact.messages[contact.messages.length - 1].text}}</span>
            </div>
          </div>
        </div>
      </aside>
      <!-- chat -->
      <div class="chat">
        <div class="container-message">
        <div class="messages"
             v-for="message in contacts[index].messages">
          <div class="message"
               :class="message.status">
            <p class="message-text">{{ message.text }}</p>
            <p class="date">{{ getTime(message.date) }}</p>
          </div>
        </div>
      </div>
      <!-- sezione input messaggio ed emoji -->
      <div class="input-chat">
        <i class="fas fa-smile"></i>
        <input type="text" placeholder=" Scrivi un messaggio">
        <i class="fas fa-microphone"></i>
      </div>
    </main>
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script> -->
  <script src="assets/js/main.js"></script>
</body>
</html>

<!-- // Descrizione
// Riprodurre una poco conosciuta web app di messaggistica. -->
