* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

 /* Background con i 2 colori */
.background-top {
  background-color: #009688;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 150px;
  width: 100%;
}

.background-bottom {
  background-color: #D9DBD4;
  position: fixed;
  top: 150px;
  left: 0;
  z-index: -1;
  height: calc(100% - 150px);
  width: 100%;
}

/* webapp */
.container {
  margin: 0 auto;
  width: 80%;
}

/* top */
header {
  width: calc(80% - 400px);
  position: fixed;
  top: 25px;
  z-index: 1;
  margin-left: 400px;
}

.nav-right {
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

/* main e nav sx */
main {
  height: 100%;
  display: flex;
}

aside {
  width: 400px;
  height: 100%;
}

.nav-left {
  background-color: #EDEDED;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  border-right: 0.5px solid #000000;
  margin-top: 25px;
}

.user-section {
  display: flex;
  align-items: center;
}

.avatar {
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.icons i {
  margin-right: 10px;
  font-size: 30px;
  color: #808080;
  cursor: pointer;
}

.notifications {
  height: 70px;
  background-color: #9DE1FE;
  display: flex;
  align-items: center;
}

.bell i {
  margin: 0 10px;
  padding: 15px 15px;
  border-radius: 100%;
  background-color: #ffffff;
  color: #9DE1FE;
  font-size: 20px;
  cursor: pointer;
}

.bell-text {
  margin-left: 10px;
}

.notification-text p {
  font-size: 14px;
}

.notification-text a {
  font-size: 15px;
  color: #848484;
}

/* cerca contatti */

.search {
  height: 50px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  width: 360px;
  padding: 5px;
  border-radius: 15px;
  border-color: #808080;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}

.search i {
  position: relative;
  left: 25px;
  color: #808080;
  cursor: pointer;
}

/* lista contatti a sx */

.contact {
  height: calc(100% - 150px);
  background-color: #ffffff;
}

.contact-list {
  cursor: pointer;
}

.contact-list li {
  height: 70px;
  list-style: none;
  display: flex;
  align-items: center;
}

.contact-list li img {
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
}

.active {
  background-color: #EDEDED;
}

.info {
  margin: 0 15px;
}

.info p {
  font-size: 15px;
}

/* chat section */

.chat {
  background-image: url('../img/mine.jpg');
  width: calc(100% - 400px);
  margin-top: 95px;
}

/* .back-box {
  height: 35px;
  width: 250px;
  border-radius: 5px;
  padding-left: 5px;
  max-width: 80%;
}

.container-sent {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
} */

/* .sent {
  background-color: #DEF8C3;
  margin-right: 50px;
} */

/* .container-received {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
} */

/* .received {
  background-color: #ffffff;
  margin-left: 50px;
} */

.messages {
  position: relative;
  height: 60px;
}

.message {
  border-radius: 5px;
  padding: 5px 25px 5px 7px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  min-height: 40px;
}

.sent {
  background-color: #DEF8C3;
  position: absolute;
  right: 60px;;
  bottom:0px;
  cursor: pointer;
}

.received {
  background-color: #fff;
  position: absolute;
  left: 60px;
  bottom: 0px;
  cursor: pointer;
}

.date {
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}

/* input-chat */

.input-chat {
  height: 60px;
  background-color: #EDEDED;
  width: calc(80% - 400px);
  position: fixed;
  margin-left: 400px;
  margin-top: 715px;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.input-chat input {
  width: 760px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.input-chat i {
  font-size: 30px;
  color: #808080;
  cursor: pointer;
}
